WCFandWPF6/WPFCrud/WPFCrud/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61698/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfCrud" />
  <xs:import schemaLocation="http://localhost:61698/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfCrud" minOccurs="0" name="GetPersonResult" nillable="true" type="q1:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfCrud" minOccurs="0" name="pobj" nillable="true" type="q2:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfCrud" minOccurs="0" name="pobj" nillable="true" type="q3:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchPersonResult" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="mobilenumber" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="convResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfCrud" minOccurs="0" name="convResult" nillable="true" type="q5:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>